@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in-down {
   0% {
     opacity: 0;
     transform: translateY(-20px);
   }
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 @keyframes fade-in-up {
   0% {
     opacity: 0;
     transform: translateY(20px);
   }
   100% {
     opacity: 1;
     transform: translateY(0);
   }
 }
 
 .animate-fade-in-down {
   animation: fade-in-down 3s ease-out;
 }
 
 .animate-fade-in-up {
   animation: fade-in-up 3s ease-out;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(360deg);
   }
 }
 
 .anime-spin {
   animation: spin 2s linear infinite;
 }
 